body {
    background: slategrey;
}

.container {
    padding: 5rem 1rem;
}

.container-shop {
    width: 100%;
    background: rgb(208, 208, 208);
    padding: 1rem 2rem;
}

.product {
    font-weight: bold;
    height: auto;
    padding-bottom: 1rem;
}
